@import "modern-normalize.css";

@font-face {
    font-family: 'Norse-Bold';
    src: url('../fonts/Norse-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    font-family: Norse-Bold, sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background-image: url(odin_image/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 35vw;
    height: 100vh;
}

.logo_holder{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 35vw;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
    color: white;
}
.left_footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bolder;
    height: 20%;
    color: white;
}


.right{
    background-color: #fafafa;
    width: 65vw;
}

h1 {
    font-family: Norse-Bold, sans-serif;
}

.header{
    height: 33vh;
}

.form{
    background-color: white;
    height: 34vh;
    padding: 5px 10px 15px;
}

.main_form{
    display: flex;
    flex-direction: row;
    padding: 0 0px 15px;
    box-shadow: #6b6b6a 0px 2px;
}

form div{
    padding: 0 15px 0;
}

label{
    font-size: 10px;
    color: rgb(123, 123, 124);
}

input:invalid{
    border: 1px solid red;
}


input{
    width: 200px;
    height: 25px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    margin-bottom: 1px;
    padding: 0 3px 0;    
}

input:hover, input:focus{
    outline: none;
    border: 2px solid rgb(23, 102, 192);
}

.footer{
    padding: 30px;
}

button{
    background-color: #596D48;
    border-color: #E5E7EB;
    color: white;
    border-radius: 6px;
    height: 35px;
    width: 175px;
    font-weight: bold;
    font-family: Norse-Bold, sans-serif;
    box-shadow: #6b6b6a 0px 2px;
}

.error_msg{
    color: red;
    font-size: 10px;
}

.login{
    text-decoration: none;
    color:rgb(49, 49, 49);
    font-weight:bolder;
}