@import "modern-normalize.css";

@font-face {
    font-family: 'Norse-Bold';
    src: url('../fonts/Norse-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background-image: url(odin_image/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;

}

.right{
    background-color: rgb(204, 202, 202);
}

h1 {
    font-family: Norse-Bold, sans-serif;
}

.header{
    height: 40vh;
}
.form{
    background-color: white;
    height: 30vh;
    padding: 5px 10px 15px;
}

form{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    height: 30vh;
}